/* Answer to: "disable scroll css" */

/*
  You must set the height and overflow of the body, to disable
  scrolling.
*/

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
    border: 30px solid black;
    font-family: "Nanum Myeongjo";
}
#bord {
  border-right: 7px solid black;
  border-left: 7px solid black;
}

#back {
  border: 30px solid white;
  border-left: 200px solid black;
  border-right: 200px solid black;
}

.info {
  border-bottom: 7px solid black;
  text-align: center;
}

.welc {
  text-align: center;
}

.nav-link {
  color: black;
}

.periodd {
  border-right: 7px solid black;
  height: 2000px;
  color: white;
}

.period {
  border-left: 7px solid black;
  height: 2000px;
  color: white;
}

li a:hover {
  background-color: lightyellow;
  color: white;
}

li a.active {
  background-color: #D7E5F0;
  color: black;
}

.button {
  background-color: #D7E5F0;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.button {border-radius: 10px;}
