/* Answer to: "disable scroll css" */

/*
  You must set the height and overflow of the body, to disable
  scrolling.
*/

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
    border: 30px solid black;
    font-family: "Nanum Myeongjo";
}
#bord {
  border-right: 7px solid black;
  border-left: 7px solid black;
}

#resu {
  font-family: "Nanum Myeongjo";
  border-left: 200px dashed black;
  border-right: 200px dashed black;
  border-top: 30px solid white;
  border-bottom: 30px solid white;
}
#back {
  border: 30px solid white;
  border-left: 200px dashed black;
  border-right: 200px dashed black;
}

.head {
  text-align: center;
  font-weight: bold;
}
#resum {
  font-weight: bold;
}


#r {
  border-bottom: 7px solid black;
}

#gal {
  border: 30px dashed black;
  border-left: 30px solid black;
  border-right: 30px solid black;
}
.info {
  border-bottom: 7px solid black;
  text-align: center;
}

.welc {
  text-align: center;
}

.nav-link {
  color: black;
}

.periodd {
  border-right: 7px solid black;
  height: 2000px;
  color: white;
}

.period {
  border-left: 7px solid black;
  height: 2000px;
  color: white;
}

li a:hover {
  background-color: lightyellow;
  color: white;
}

li a.active {
  background-color: #D7E5F0;
  color: black;
}

.button {
  background-color: #D7E5F0;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button:hover {opacity: 1}

.button {border-radius: 10px;}
